mat-card
{
  border-radius: none !important;
  border: 1px solid;
  margin: 16px;
}

.background-orange{
  background-color: orange;
}
.background-vert{
  background-color: green;
}
.background-jaune{
  background-color: yellow;
}
